<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
</header>

<div id="BBox" class="alert alert-success" style="margin-top:18px;">
    {{filecoin|safe}} {{genaro|safe}} {{sia|safe}} {{storj|safe}}
</div>

<div class="alert alert-info">
{{table|safe}}
</div>

</body>
</html>

