<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <style>
    table {
    width:100%;
    }
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    th, td {
    padding: 1px;
    text-align: left;
    }
    table#t01 tr:nth-child(even) {
    background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
    background-color: #fff;
    }
    table#t01 th {
    background-color: black;
    color: white;
    }
    </style>
</head>
<body>
</header>

	<div id="BBox" class="alert alert-success" style="margin-top:18px;">
    <table>
    <caption>Filecoin Details</caption>
    <tr>
        <th>Date</th>
        <th>Price</th>
        <th>Fee</th>
        <th>Blocktime</th>
        <th>FCAS</th>
        <th>Transection_Volume</th>
        <th>Exchange_Volume</th>
        <th>Bandwidth_UP</th>
        <th>Bandwidth_Down</th>
        <th>Storage</th>
    </tr>
	{{filecoin|safe}}
	</table>
	</div><div id="BBox" class="alert alert-success" style="margin-top:18px;">
	<table>
    <caption>Genaro Details</caption>
    <tr>
        <th>Date</th>
        <th>Price</th>
        <th>Fee</th>
        <th>Blocktime</th>
        <th>FCAS</th>
        <th>Transection_Volume</th>
        <th>Exchange_Volume</th>
        <th>Bandwidth_UP</th>
        <th>Bandwidth_Down</th>
        <th>Storage</th>
    </tr>
	{{genaro|safe}}
    </table>
	</div><div id="BBox" class="alert alert-success" style="margin-top:18px;">
	<table>
    <caption>Siacoin Details</caption>
    <tr>
        <th>Date</th>
        <th>Price</th>
        <th>Fee</th>
        <th>Blocktime</th>
        <th>FCAS</th>
        <th>Transection_Volume</th>
        <th>Exchange_Volume</th>
        <th>Bandwidth_UP</th>
        <th>Bandwidth_Down</th>
        <th>Storage</th>
    </tr>
	{{sia|safe}}
    </table>
	</div><div id="BBox" class="alert alert-success" style="margin-top:18px;">
	<table>
    <caption>Storj Details</caption>
    <tr>
        <th>Date</th>
        <th>Price</th>
        <th>Fee</th>
        <th>Blocktime</th>
        <th>FCAS</th>
        <th>Transection_Volume</th>
        <th>Exchange_Volume</th>
        <th>Bandwidth_UP</th>
        <th>Bandwidth_Down</th>
        <th>Storage</th>
    </tr>
	{{storj|safe}}
    </table>
	</div>


<div class="alert alert-info">
<table>
    <caption>Prediction Details</caption>
    <tr>
        <th>Date</th>
        <th>Choice</th>
        <th>Score</th>
    </tr>
{{table|safe}}
    </table>
	</div>

</div>

<div class="alert alert-info">
<table>
    <caption>Estimations</caption>
    <tr>
        <th>Date</th>
        <th>Cost</th>
		<th>Balance</th>
    </tr>
{{estimation|safe}}
    </table>
</div>

<div class="alert alert-danger">
<table>
    <caption>Cost Explanation</caption>
    <tr>
        <th>Token</th>
        <th>Cost</th>
    </tr>
{{cost_estimation|safe}}
    </table>
</div>
</div>
</body>
</html>