<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Optimize Token Choice</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body onLoad='init()'>
<header class="navbar navbar-default">
  <span class="navbar-text"> Please provide the details   
  </span>
</header>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  border-radius: 8px;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

.slidecontainer {
  width: 10%;
}

.slider {
  -webkit-appearance: none;
  width: 10%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
</style>
<div id="BBox" class="alert alert-success" style="margin-top:18px;">
     <form action="/ThirdModelResult" method="post" enctype="multipart/form-data" >
		Select Date <input type="date" value="2018-06-01" name="bday">
		 Predict for next: 
        <input type="radio" name="days" value="10"> 10 Days 
		<input type="radio" name="days" value="20"> 20 Days
		<input type="radio" name="days" value="30"> 30 Days 
		<strong>Storage</strong> <input type="text" placeholder="20 GB" size="5" name="given_storage">
		<strong>Budget </strong><input type="text"  placeholder="50 $" size="5" name="given_budget"></br>
		<hr>
		Cost/Budget: <input type="range" min="1" max="10" value="3" class="slider" id="cost" name="cost">
		Speed: <input type="range" min="1" max="10" value="3" class="slider" id="speed" name="speed">
		Security: <input type="range" min="1" max="10" value="3" class="slider" id="security" name="security">
		Health: <input type="range" min="1" max="10" value="3" class="slider" id="health" name="health">
		Bandwidth: <input type="range" min="1" max="10" value="3" class="slider" id="bandwidth" name="bandwidth">
		Storage: <input type="range" min="1" max="10" value="3" class="slider" id="storage" name="storage">
		<hr>
		<strong>Weightage</strong>
		<p>Cost: <span id="cost-val"></span>
		   Speed: <span id="speed-val"></span>
		   Security: <span id="security-val"></span>
		   Health: <span id="health-val"></span>
		   Bandwidth: <span id="bandwidth-val"></span>
		   Storage: <span id="storage-val"></span>  </p>
		<hr>
		<strong>Constraints</strong>
		<p>Cost: <input type="text" placeholder="<100$" size="5" name="cost_constraint">
		   Speed: <input type="text" placeholder="<10 Min" size="5" name="speed_constraint">
		   Security: <input type="text" placeholder=">500" size="5" name="security_constraint">
		   Health: <input type="text" placeholder=">10000000" size="10" name="health_constraint">
		   Bandwidth: <input type="text" placeholder=">20 MBPS" size="10" name="bandwidth_constraint">
		   Storage: <input type="text" placeholder=">10 TB" size="5" name="storage_constraint">	 </p>  
		<hr>  
		<input type="submit" value="Submit your choice" class="btn btn-primary">
		
    </form>
</div>

<div class="alert alert-info">
<strong>Available Token </strong>
<img src="static/images/flipcoin.jpg" width="150" height="150">
<img src="static/images/storj.png" width="150" height="150">
<img src="static/images/genaro.png" width="150" height="150">
<img src="static/images/Siacoin.png" width="150" height="150">
</div>


<script>
var slider_1 = document.getElementById("cost");
var output_1 = document.getElementById("cost-val");
output_1.innerHTML = slider_1.value;

slider_1.oninput = function() {
  output_1.innerHTML = this.value;
 
}
var slider_2 = document.getElementById("speed");
var output_2 = document.getElementById("speed-val");
output_2.innerHTML = slider_2.value;

slider_2.oninput = function() {
  output_2.innerHTML = this.value;
}
var slider_3 = document.getElementById("security");
var output_3 = document.getElementById("security-val");
output_3.innerHTML = slider_3.value;

slider_3.oninput = function() {
  output_3.innerHTML = this.value;
}
var slider_4 = document.getElementById("health");
var output_4 = document.getElementById("health-val");
output_4.innerHTML = slider_4.value;

slider_4.oninput = function() {
  output_4.innerHTML = this.value;
}
var slider_5 = document.getElementById("bandwidth");
var output_5 = document.getElementById("bandwidth-val");
output_5.innerHTML = slider_5.value;

slider_5.oninput = function() {
  output_5.innerHTML = this.value;
}
var slider_6 = document.getElementById("storage");
var output_6 = document.getElementById("storage-val");
output_6.innerHTML = slider_6.value;

slider_6.oninput = function() {
  output_6.innerHTML = this.value;
}

</script>
</body>
</html>

